/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --bg-gray: #fcfcfc;
  --text-light-gray: #4a5568;
  --text-dark-gray: #333333;
  --text-light-blue: #2b6cb0;
}

body {
  background: var(--bg-gray);
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  width: 100%;
}

.navbar-container {
  max-width: 1024px;
  padding: 10px 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-item-home {
  color: var(--text-dark-gray);
  font-size: x-large;
  font-weight: 800;
  text-decoration: none;
  margin-right: 2em;
  display: flex;
  flex-shrink: 0;
}

.navbar-item-container {
  width: auto;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.navbar-link-items {
  margin-right: auto;
}

.navbar-item {
  color: var(--text-light-gray);
  font-weight: 600;
  text-decoration: none;
  margin-right: 2.5em;
}

a.navbar-item:hover{
  color: var(--text-light-blue);
}

.page{
  max-width: 1024;
  padding: 10px 20px;
  margin: 0 auto;
}

.sticky {
  position: sticky;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
}

.expense {
  color: var(--text-light-gray);
  font-weight: 400;
}